*{
    font-family: serif;
}
h1,h2,p{
    color: brown;
}
h2{
    font-style: italic;
}
.abc{
    line-height: 40px;
    color: darkmagenta;
}
.container1{
    text-decoration: line-through;
}
.container2{
    background-color: yellow;
}
.container3{
    text-decoration: underline;
    font-style: italic;
}
.abd{
    letter-spacing: 5px;
}
a{
    text-decoration: none;
    font-style: italic;
    background-color: yellow;
}